body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
   
}


h3 {
  
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    position: absolute;
    top: 5.0%;
    left: 50%;
    transform: translate(-50%, -50%); 
    margin: 10px;
}

p {
    margin: 0;
    padding: 0;
}

.parent {
    padding: 20px;
    background-color: #a4f5db;
    position: relative;
    width: 70vw;
    height: 80vh;
    top: 40px;
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 25px 70px 50px 15px;
    filter: drop-shadow(8px 8px 10px #a4f5db);
}

.heading2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    color: black;

}

.signIn,
.signUp {
    position: absolute;
    width: 45%;
    height: 75%;
    top: 100px;
    margin: 10px;
    border-radius: 25px 70px 50px 15px;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
    transition: transform 0.3s ease-in-out;
}

.form1 {
    margin-top: 30px;
    width: 90%;
    position: absolute;
    top: 0px;
    color: white;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}



#username,
#email,
#password,#confirmPassword {
    position: sticky;
    margin: 10px;
    width: 80%;
    height: 40px;
    border-radius: 10px;
    margin-left: 30px;
}

.link{
    color:#a4f5db ;
    margin: 10px;
    margin-left: 30px;
    text-decoration: none;
    text-align: center;
    transition: 0.5s ease-in;
   font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    
}
a:hover
{
 font-size:large ;   
}
.sgnup{
    color:#a4f5db;
    text-decoration: none;
    text-align: center;
    transition: 0.5s ease-in;
   font-size: medium;
    font-family: 'Courier New', Courier, monospace;
      
}
.txt{
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
    margin-left: 30px; 
}
.done {
   margin: 10px;
    width: 80%;
    border-radius: 10px;
    height: 40px;
  background-color: #a4f5db;
  font-size: larger;
  margin-left: 30px;
  font-family: 'Courier New', Courier, monospace;
font-weight: bold;
 
}

.signIn {
    background-color: black;
    left: 10px;
    
}
.signUp {
    background-color: black;
    right: 10px;
}


.heading1 {
    font-family: 'Courier New', Courier, monospace;
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.5));

}




