body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}
.parent
{
padding: 20px;
background-color: #a4f5db;
position: relative;
width: 70vw ;
height:80vh ;
top: 20px;
margin-left: auto!important;
margin-right: auto!important;
border-radius: 25px 70px 50px 15px;
filter: drop-shadow(8px  8px 10px #a4f5db);
}
.heading
{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    color:black;

}
.signIn, .signUp {
    position: absolute;
    width: 45%;
    height: 75%;
    top: 100px;
    margin: 10px;
    border-radius: 25px 70px 50px 15px;
}
   
.signIn {
    background-color: black;
    left: 10px;
   
}

.signUp {
    background-color: black;
    right: 10px;
}
.shader1, .shader2 {
    position: absolute;
    background-color:#a4f5db ;
    width: 45%;
    height: 75%;
    top: 100px;
    margin: 10px;
    border-radius: 25px 70px 50px 15px; 
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.5));
    transition: opacity 0.5s ease-in-out; /* Add this line */
}

.shader1 {
    left:10px;
}

.shader2 {
    right:10px;
}

.shader1:hover, .shader2:hover {
    opacity: 0; 
}
