body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}
.div-1
{
    margin: 10px;
    padding: 10px;
    /* position:relative; */

    width:50vw;
    height: 50vh;
    /* transform: translate(-50%, -50%); */
    background-color: #8c1f1f;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.img-1
{
    position: absolute;
    width:20%; 
    height: 20%;
   transition:all 0.5s ease-in-out;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}
.img-1:hover
{
    width: 30%; 
    height: 30%;
    transform: scale(1.1);
}